
/* General content  */
h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
    color: #ded6d6;
    text-align: center;
    margin-bottom: 3rem;
    color: #9f4d4d;
}


/* Homepage */

#home .intro-container {
    margin-bottom: 3rem;
    max-width: 600px;
}

#home .intro-container h2 {
    font-size: 2rem;
    margin: 0;
    font-weight: 700;
    color: #fff7f7;
    text-align: center;
    margin-bottom: 1.5rem;
}

#home .intro-container p {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
    color: #fff7f7;
    text-align: center;
    margin-bottom: 2rem;
}

#home .explore h3 {
    margin-bottom: 2.5rem;
    font-size: 1.1rem;
    text-align: center;
}

#home .explore ul.explore-list {
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;

}

#home .explore ul.explore-list li {
    max-width: 300px;
    background-color: #fefefe;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    color: #281d1b;
}

#home .explore ul.explore-list li img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

#home .explore ul.explore-list li img:hover {
    transform: scale(1.1);
}

#home .explore ul.explore-list li h4 {
    margin: 1.1rem 0;
    font-size: 1.1rem;
    color: #873323;
}

#home .explore .explore-message {
    margin-top: 2rem;
    text-align: center;
    color: #fff7f7;
    font-style: italic;
}

/* Menu page */

#menu h2 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    text-align: center;
    color: #faecec;
}

#menu .menu-sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}



#menu .menu-sections .menu-section h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #faecec;
}

#menu .menu-sections .menu-section .section-items{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#menu .menu-sections .menu-section .section-items .menu-item {
    max-width: 300px;
}

.menu-section .section-items .menu-item .item-name {
    font-size: 1.1rem;
    color: #e5b8af;
    height: 3rem;
}

.menu-section .section-items .menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    margin: 1rem 0;
}

.menu-section .section-items .menu-item .item-description{
    margin: 1rem 0;
    font-size: 1rem;
    color: #faecec;
}

/* Contact content */

#contact h2 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    text-align: center;
    color: #faecec;
}

#contact .contact-info {
    gap: 1.2rem;
    flex-direction: column;
}

#contact .contact-info .contact-item {
    max-width: 200px;
    width: 65%;
}

#contact .contact-info .contact-item p:first-child {
    font-size: 1.2rem;
    color: #e1a9a9;
    margin-bottom: 0.5rem;
}

#contact .contact-info .contact-item p:last-child {
    font-size: 1rem;
    color: #faecec;
    word-break: break-all;
}

#contact .working-hours {
    margin-top: 2rem;
    text-align: center;
}

#contact .working-hours h3 {
    font-size: 1.1rem;
    color: #e16666;
}

#contact .working-hours .hours-wrapper {
    margin-top: 1.5rem;
}

#contact .working-hours .hours-wrapper p:first-child {
    margin-bottom: 1rem;
}

#contact .social-networks {
    margin-top: 2rem;
    text-align: center;
}

#contact .social-networks h3 {
    font-size: 1.1rem;
    color: #e16666;
    margin-bottom: 1.2rem;
}

#contact .social-networks p {
    font-size: 1rem;
    color: #faecec;
    font-style: italic;
}

#contact .social-networks .social-networks-list
 {
    max-width: 300px;
    margin: 1.5rem auto;
}

#contact .social-networks .social-networks-list .social-network-item:nth-of-type(2) {
    filter: drop-shadow(2px 4px 6px rgb(190, 54, 54));
}

@media (min-width: 720px){

    #home .explore ul.explore-list {
        flex-direction: row;
        align-items: unset;
    }
    #contact .contact-info {
        flex-direction: row;
        align-items: flex-start;
    }
}